<!DOCTYPE html>
<html lang="en">

    <head>
        <title>HackIT</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <script src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.10/styles/railscasts.min.css">
        <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.10/highlight.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
            integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <link rel="stylesheet" href="static/css/login.css">
    </head>

    <body>
        <div class="containerr">
            <ul class="progressbar">
                <li class="active">login</li>
                <li>Question 1</li>
                <li>Question 2</li>
                <li>Question 3</li>
                <li>Submit</li>
            </ul>
        </div>
        <div class="login_container">
            <div class="container mt-5 mb-5">
                <div class="row align-items-center mb-2">
                    <div class="col">
                        <p class="h3 text-center">Login</p>
                    </div>
                </div>
                <div class="row align-items-center">
                    <div class="col"></div>
                    <div class="col border border-dark mx-auto mb-2 rounded-lg">
                        <form class="pt-4 pl-2 pr-2">
                            <div class="form-group"><label for="exampleInputusername1">Username</label><input
                                    class="form-control" id="username" name="username"
                                    placeholder="Enter username"></div>
                            <div class="form-group"><label for="exampleInputPassword1">Password</label><input type="password"
                                    class="form-control" id="password" name="password" placeholder="Password"></div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="text-center"><button class="btn btn-dark mb-3 p-auto mt-1"
                                            id="submitBtn">Submit</button></div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col"></div>
                </div>
            </div>
        </div>
        <script>hljs.initHighlightingOnLoad();</script>
        <!-- <script src="static/js/login.js"></script> -->

    </body>

</html>
